{% extends 'base.html' %}
{% load static %}

{% block title %}JL | Search Book{% endblock title %}

{% block content %}
    <div class="container mt-5 pt-5" id="book">
        <div class="text-center">
            <form id="form" method="get">
                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        <label class="mt-3" for="q">Search books</label>
                        <input name="q" type="text" class="form-control" id="id_q" placeholder="Enter keyword: e.g. fiction, romance, etc" required>
                    </div>
                </div>
                <button type="submit" class="btn" id="submit">Search</button>
            </form>
        </div>

        <div id="search-result" class="mt-5">
            <h1 class="result-text">Result(s)</h1>
    
            <div id="results-table" class="table-responsive">
                <table class="table table-hover">
                    <thead>
                      <tr class="d-flex">
                        <th class="align-items-center col-1 header">No.</th>
                        <th class="align-items-center col-8 header">Book Information</th>
                        <th class="align-items-center col-3 header">Cover</th>
                      </tr>
                    </thead>
                    <tbody id="results">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block custom_scripts %}
    <script src="{% static 'js/story7.js' %}"> </script>
    <script src="{% static 'js/story8.js' %}"> </script>
{% endblock %}

