{% extends 'base.html' %}
{% load static %}

{% block title %}JL | About Me{% endblock title %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row text-center">
        <div class="col header" id="about">
            <img class="rounded-circle z-depth-2" width="250px" src="{% static 'image/profile.jpg' %}" data-holder-rendered="true">
            <h1 class="mt-3">Muhammad Jilham Luthfi</h1>
            <h2>Computer Science, Univesitas Indonesia | 2018</h2>
            <h2>
                I’m a highly motivated and hardworking person. Excellent in team working and always try to be a professional 
                at any possible time. I give someone chances to criticize my performance for the better.

                From a high school, my passion is technology. That's why I started learning in a computer science major. 
                I really hope someday I could make something helpful with my knowledge and spread education about how technology 
                can change our world.
            </h2>

            <div id="accordion">
                <div class="button" role="button">
                    Activities
                </div>
                <div class="slide">
                    <div class="mt-2 px-4 text-justify box">
                        <h4 class="title">Staff of Student Welfare Department</h4>
                        <p>
                            <strong>BEM Fasilkom UI 2018
                            <br> February 2019 - present</strong>
                            <br> 
                                I hold a project called "Peduli Maba" with my friend, <strong>Siti Nurfitriyah</strong>. The goal is 
                                to welcome the freshmen of Fasilkom UI 2019 by creating a group, holding an event called "Welcoming 
                                Maba", and managing our OA LINE to solve their problems.
                        </p>
                    </div>
                </div>
                <div class="button" role="button">
                    Organizations
                </div>
                <div class="slide">
                    <div class="mt-2 px-4 text-justify box">
                        <h4 class="title">BEM Fasilkom UI</h4>
                        <p>
                            <strong>Student's Advocacy and Welfare
                            <br> February 2019 - present</strong>
                            <br> 
                                Be a good friend of Fasilkom student by helping to solve their problems and accommodating aspirations
                                which will be forwarded to the faculty. We also managing the issues like academy, financial, and psychology
                                of Fasilkom student.
                        </p>
                    </div>
                </div>
                <div class="button" role="button">
                    Achievements
                </div>
                <div class="slide">
                    <div class="mt-2 px-4 text-justify box">
                        <h4 class="title">Pra OSP Ilmu Komputer 2016</h4>
                        <p>
                            <strong>February - March 2016</strong>
                            <br> 
                                A competition held by Dikdasmen Kemendikbud to find the best student in their own field. 
                                This competition attended by all the participants from elementary school to high school and 
                                undergo a series of selections until the final at the national stage. 
                        </p>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/story7.js' %}"> </script>
{% endblock %}
