{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">    


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Staticfiles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-0">
        <a class="navbar-brand header-title" href="#"><img src="{% static 'image/logo.png' %}" width="50" height="50" alt="">
            <span class="header-title">Jilham Luthfi</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
             
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'homepage:status' %}">Status <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'homepage:about' %}">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'books:books' %}">Books <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active dropdown header-subtitle">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Change Style
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a onclick="changeStyleSummerBreeze()" class="dropdown-item">Summer Breeze</a>
                      <a onclick="changeStyleMidnightSky()" class="dropdown-item">Midnight Sky</a>
                    </div>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'oauth:logout' %}" target="_parent"><button class="btn login-btn" role="button" aria-pressed="true">Logout</button></a>
            {% else %}
                <a href="{% url 'oauth:login' %}" target="_parent"><button class="btn login-btn" role="button" aria-pressed="true">Login</button></a>
            {% endif %}
        </div>    
    </nav>

    {% block content %}
    {% endblock %}

    {% block custom_scripts %}
    {% endblock %}

</body>
</html>