{% extends 'base.html' %}
{% load static %}

{% block title %}JL | Live Status{% endblock title %}

{% block content %}
    <div class="container mt-5 pt-5" id="status">
        <div class="text-center">
            {% if user.is_authenticated %}
                <h1>Hallo, {{ request.session.username }}, wie geht's?</h1>
            {% else %}
                <h1>Hallo, wie geht's?</h1>
            {% endif %}
            <form id="form" method="POST">
                {% csrf_token %}
                <div class="form-group row justify-content-center">
                    <div class="col-6">
                        <input name="status" type="text" class="form-control" id="status-field" placeholder="Enter your status">
                    </div>
                </div>
                <button type="submit" class="btn btn-status">Submit</button>
            </form>
        </div>

        <div class="table-responsive my-5 px-4 py-2" id="status-table">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col-2" class="header">No.</th>
                    <th scope="col-4" class="header">Status</th>
                    <th scope="col-4" class="header">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in list_status %}
                    <tr id="content">
                        <td>{{forloop.counter}}</td>
                        <td>{{ status.status }}</td>
                        <td>{{ status.datetime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/story7.js' %}"> </script>
{% endblock %}
